body {
    background: linear-gradient(70deg, blue, pink) no-repeat;
    background-size: contain;
}

#pattern {
    position: absolute;
    margin: -200px 100px 5px -500px;
}
#woman {
    position: absolute;
    margin: 100px 50px;
}
#box {
    position: absolute;
    margin: 200px 20px;
}

.main_box {
    display: flexbox;
}
.text_box {

}